name: Integración Continua

on: push

jobs:
  job-build:
    runs-on: ubuntu-latest

    #Utilizar servicio redis en una maquina virtual (eso se haace a nivel job)
    #services: 
    #  redis:
    #    image: redis
    #    ports:
    #      - 6379:6379

    steps:
      #Imprimir secretos de entorno
      - name: Print secret
        run: echo "${{ secrets.TOKEN_SECRET }}"

      #Instalr node 18 desde github marketplace
      - name: setup node
        uses: actions/setup-node@v4
        with: 
          node-version: '18'

      #Instalar redis cli
      #- name: Instal redis cli
      #  run: sudo apt-get update -y && sudo apt-get install redis-tools -y

      #Se manda el test de conexión de redis
      #- name: Test redis
      #  run: redis-cli -h localhost -p 6379 ping

      #Se agrega el repositorio
      - name: Checkout
        uses: actions/checkout@v4

      #Se instala dependencia npm
      - name: Instalar dependencias
        run: npm install

      #Se ejecutan los test
      - name: Run test
        run: npm run test

      #Se construye la aplicación
      - name: Build page
        run: npm run build

      - name: Debug public folder
        run: |
          ls -lah public/
          echo "Contenido de public/"
          find public/ -type f -print

      #Subir artefacto de github pages
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public/

      - name: Debug public folder2
        run: |
          ls -lah public/
          echo "Contenido de public/"
          find public/ -type f -print

  #Se agrega un segundo job para el despliegue, dependiente del job de build
  job-deploy:
    #Se agrega la directiva always para que un job siempre se ejecute
    #if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: job-build

    # Se agregan permisos a nivel job con la directiva permissions
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    #Variables de entorno de github pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      #Se ejecuta despliegue basado en un action de Github Marketplace
      - name:  Deploy
        id: deployment
        uses: actions/deploy-pages@v4